In [111]:
import pandas as pd
import numpy as np
import os
import sklearn
#import swifter

In [112]:
#assign always returns a copy of the data, leaving the original DataFrame untouched.
#df.columns = [x.lower() for x in df.columns]

In [113]:
df = pd.read_csv("COVID19WW.csv")

# Treat NAN values

In [114]:
df.isnull().sum()

country                         0
country_code                    0
year_week                       0
source                          0
new_cases                      23
number_sequenced                0
percent_cases_sequenced        23
valid_denominator               0
variant                         0
number_detections_variant       0
percent_variant              4602
dtype: int64

### Fill the 'new_cases' with the mean of the previous and following week

In [115]:
#Here, we do not want to fill the NaN values from the 'new_cases' by 0 or mean of the whole column. The column contain
#the value of all countries and weeks. Instead i take the mean of the week before and after.

df_null = df[df['new_cases'].isna()]
df2 = pd.concat([df[['country','year_week','new_cases']].ffill(), df[['country','year_week','new_cases']].bfill()]).groupby(['country','year_week']).mean()
df2.reset_index(inplace = True)

In [116]:
df[df['percent_cases_sequenced'].isnull()]

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,percent_variant
24202,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.1.7,703,58.8
24203,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.1.7+E484K,0,0.0
24204,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.351,10,0.8
24205,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.427/B.1.429,1,0.1
24206,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.525,2,0.2
24207,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.526,0,0.0
24208,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.616,0,0.0
24209,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617,0,0.0
24210,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617.1,0,0.0
24211,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617.2,0,0.0
24212,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.617.3,0,0.0
24213,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.620,0,0.0
24214,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,B.1.621,0,0.0
24215,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,C.37,0,0.0
24216,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,P.1,2,0.2
24217,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,P.3,0,0.0
24218,Spain,ES,2021-08,GISAID,NaN,1195,NaN,Yes,Other,477,39.9
24629,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,B.1.1.7,682,68.3
24630,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,B.1.351,4,0.4
24631,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,B.1.525,1,0.1
24632,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,P.1,2,0.2
24633,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,UNK,65,6.5
24634,Spain,ES,2021-08,TESSy,NaN,998,NaN,Yes,Other,244,24.4

#### Additional stats using the NaN treated

##### Now that we filled NaN, we compute the cumulative amount of cases per week and per country

In [142]:
df2["sum_newcases"] = df2.groupby(['country'])['new_cases'].apply(lambda x: x.cumsum())
df2[(df2.country=="Spain")]

     country year_week  new_cases  sum_newcases
1176   Spain   2020-40    65146.0       65146.0
1177   Spain   2020-41    75556.0      140702.0
1178   Spain   2020-42    85481.0      226183.0
1179   Spain   2020-43   123871.0      350054.0
1180   Spain   2020-44   142377.0      492431.0
1181   Spain   2020-45   140521.0      632952.0
1182   Spain   2020-46   115646.0      748598.0
1183   Spain   2020-47    85752.0      834350.0
1184   Spain   2020-48    65571.0      899921.0
1185   Spain   2020-49    54141.0      954062.0
1186   Spain   2020-50    49556.0     1003618.0
1187   Spain   2020-51    67365.0     1070983.0
1188   Spain   2020-52    60164.0     1131147.0
1189   Spain   2020-53    79431.0     1210578.0
1190   Spain   2021-01   152938.0     1363516.0
1191   Spain   2021-02   224669.0     1588185.0
1192   Spain   2021-03   256931.0     1845116.0
1193   Spain   2021-04   229423.0     2074539.0
1194   Spain   2021-05   166280.0     2240819.0
1195   Spain   2021-06    97201.0     2338020.0
1196   Spain   2021-07    67685.0     2405705.0
1197   Spain   2021-08    51494.0     2457199.0
1198   Spain   2021-09    35303.0     2492502.0
1199   Spain   2021-10    34092.0     2526594.0
1200   Spain   2021-11    33741.0     2560335.0
1201   Spain   2021-12    42022.0     2602357.0
1202   Spain   2021-13    40500.0     2642857.0
1203   Spain   2021-14    58931.0     2701788.0
1204   Spain   2021-15    58098.0     2759886.0
1205   Spain   2021-16    60115.0     2820001.0
1206   Spain   2021-17    51961.0     2871962.0
1207   Spain   2021-18    40962.0     2912924.0
1208   Spain   2021-19    34468.0     2947392.0
1209   Spain   2021-20    31660.0     2979052.0
1210   Spain   2021-21    30870.0     3009922.0
1211   Spain   2021-22    29133.0     3039055.0
1212   Spain   2021-23    34244.0     3073299.0
1213   Spain   2021-24    22884.0     3096183.0
1214   Spain   2021-25    27991.0     3124174.0
1215   Spain   2021-26    73833.0     3198007.0
1216   Spain   2021-27   104649.0     3302656.0
1217   Spain   2021-28   190726.0     3493382.0

In [118]:
#[(df.country=="Spain") & (df.year_week == "2021-08")]

##### Create a temporate DF to merge with df2. We also compute the amount of number_sequenced per week and countries.

In [139]:
df_tmp = df.drop_duplicates(subset=['country', 'year_week'],keep='first').sort_index()
df_tmp.drop(['valid_denominator', 'variant', 'source','number_detections_variant', 'percent_variant','percent_cases_sequenced'], axis = 1,inplace = True)
df_tmp['sum_number_sequenced'] = df_tmp.groupby(['country'])['number_sequenced'].apply(lambda x: x.cumsum())
df_tmp['new_cases'] = df_tmp['new_cases'].fillna(value=0)
df_tmp[(df_tmp.country=="Spain")]

,country,country_code,year_week,new_cases,number_sequenced,sum_number_sequenced
23845,Spain,ES,2020-40,65146.0,259,259
23862,Spain,ES,2020-41,75556.0,242,501
23879,Spain,ES,2020-42,85481.0,378,879
23896,Spain,ES,2020-43,123871.0,217,1096
23913,Spain,ES,2020-44,142377.0,153,1249
23930,Spain,ES,2020-45,140521.0,194,1443
23947,Spain,ES,2020-46,115646.0,196,1639
23964,Spain,ES,2020-47,85752.0,198,1837
23981,Spain,ES,2020-48,65571.0,141,1978
23998,Spain,ES,2020-49,54141.0,313,2291
24015,Spain,ES,2020-50,49556.0,417,2708
24032,Spain,ES,2020-51,67365.0,509,3217
24049,Spain,ES,2020-52,60164.0,366,3583
24066,Spain,ES,2020-53,79431.0,659,4242
24083,Spain,ES,2021-01,152938.0,608,4850
24100,Spain,ES,2021-02,224669.0,1008,5858
24117,Spain,ES,2021-03,256931.0,1503,7361
24134,Spain,ES,2021-04,229423.0,1477,8838
24151,Spain,ES,2021-05,166280.0,1472,10310
24168,Spain,ES,2021-06,97201.0,1195,11505
24185,Spain,ES,2021-07,67685.0,1350,12855
24202,Spain,ES,2021-08,0.0,1195,14050
24219,Spain,ES,2021-09,35303.0,1287,15337
24236,Spain,ES,2021-10,34092.0,1265,16602
24253,Spain,ES,2021-11,33741.0,1075,17677
24270,Spain,ES,2021-12,42022.0,1391,19068
24287,Spain,ES,2021-13,40500.0,1331,20399
24304,Spain,ES,2021-14,58931.0,1300,21699
24321,Spain,ES,2021-15,58098.0,1543,23242
24338,Spain,ES,2021-16,60115.0,1091,24333
24355,Spain,ES,2021-17,51961.0,1421,25754
24372,Spain,ES,2021-18,40962.0,1491,27245
24389,Spain,ES,2021-19,34468.0,1266,28511
24406,Spain,ES,2021-20,31660.0,896,29407
24423,Spain,ES,2021-21,30870.0,962,30369
24440,Spain,ES,2021-22,29133.0,944,31313
24457,Spain,ES,2021-23,34244.0,765,32078
24474,Spain,ES,2021-24,22884.0,670,32748
24491,Spain,ES,2021-25,27991.0,530,33278
24508,Spain,ES,2021-26,73833.0,321,33599
24525,Spain,ES,2021-27,104649.0,32,33631
24542,Spain,ES,2021-28,190726.0,0,33631

###### Now we merge we df2 (we need the sum_new_cases to compute the sum_percent)

In [147]:
df_sum = pd.merge(left=df2, right=df_tmp, left_on=['country','year_week'], right_on=['country','year_week'], how='left')
df_sum.drop(['new_cases_y'], axis = 1, inplace = True)
df_sum.rename(columns = {'new_cases_x':'new_cases'}, inplace = True)
df_sum['sum_pct'] = df_sum['sum_number_sequenced'] * 100 / df_sum['sum_newcases']
df_sum['pct_pw'] = df_sum['number_sequenced'] * 100 / df_sum['new_cases']
df_sum[(df_sum.country=="Spain")]

,country,year_week,new_cases,sum_newcases,country_code,number_sequenced,sum_number_sequenced,sum_pct,pct_pw
1176,Spain,2020-40,65146.0,65146.0,ES,259,259,0.397569,0.397569
1177,Spain,2020-41,75556.0,140702.0,ES,242,501,0.356072,0.320292
1178,Spain,2020-42,85481.0,226183.0,ES,378,879,0.388623,0.442204
1179,Spain,2020-43,123871.0,350054.0,ES,217,1096,0.313095,0.175182
1180,Spain,2020-44,142377.0,492431.0,ES,153,1249,0.253640,0.107461
1181,Spain,2020-45,140521.0,632952.0,ES,194,1443,0.227979,0.138058
1182,Spain,2020-46,115646.0,748598.0,ES,196,1639,0.218943,0.169483
1183,Spain,2020-47,85752.0,834350.0,ES,198,1837,0.220171,0.230898
1184,Spain,2020-48,65571.0,899921.0,ES,141,1978,0.219797,0.215034
1185,Spain,2020-49,54141.0,954062.0,ES,313,2291,0.240131,0.578120
1186,Spain,2020-50,49556.0,1003618.0,ES,417,2708,0.269824,0.841472
1187,Spain,2020-51,67365.0,1070983.0,ES,509,3217,0.300378,0.755585
1188,Spain,2020-52,60164.0,1131147.0,ES,366,3583,0.316758,0.608337
1189,Spain,2020-53,79431.0,1210578.0,ES,659,4242,0.350411,0.829651
1190,Spain,2021-01,152938.0,1363516.0,ES,608,4850,0.355698,0.397547
1191,Spain,2021-02,224669.0,1588185.0,ES,1008,5858,0.368849,0.448660
1192,Spain,2021-03,256931.0,1845116.0,ES,1503,7361,0.398945,0.584982
1193,Spain,2021-04,229423.0,2074539.0,ES,1477,8838,0.426022,0.643789
1194,Spain,2021-05,166280.0,2240819.0,ES,1472,10310,0.460100,0.885254
1195,Spain,2021-06,97201.0,2338020.0,ES,1195,11505,0.492083,1.229411
1196,Spain,2021-07,67685.0,2405705.0,ES,1350,12855,0.534355,1.994534
1197,Spain,2021-08,51494.0,2457199.0,ES,1195,14050,0.571789,2.320659
1198,Spain,2021-09,35303.0,2492502.0,ES,1287,15337,0.615325,3.645583
1199,Spain,2021-10,34092.0,2526594.0,ES,1265,16602,0.657090,3.710548
1200,Spain,2021-11,33741.0,2560335.0,ES,1075,17677,0.690417,3.186035
1201,Spain,2021-12,42022.0,2602357.0,ES,1391,19068,0.732720,3.310171
1202,Spain,2021-13,40500.0,2642857.0,ES,1331,20399,0.771854,3.286420
1203,Spain,2021-14,58931.0,2701788.0,ES,1300,21699,0.803135,2.205970
1204,Spain,2021-15,58098.0,2759886.0,ES,1543,23242,0.842136,2.655857
1205,Spain,2021-16,60115.0,2820001.0,ES,1091,24333,0.862872,1.814855
1206,Spain,2021-17,51961.0,2871962.0,ES,1421,25754,0.896739,2.734743
1207,Spain,2021-18,40962.0,2912924.0,ES,1491,27245,0.935314,3.639959
1208,Spain,2021-19,34468.0,2947392.0,ES,1266,28511,0.967330,3.672972
1209,Spain,2021-20,31660.0,2979052.0,ES,896,29407,0.987126,2.830069
1210,Spain,2021-21,30870.0,3009922.0,ES,962,30369,1.008963,3.116294
1211,Spain,2021-22,29133.0,3039055.0,ES,944,31313,1.030353,3.240312
1212,Spain,2021-23,34244.0,3073299.0,ES,765,32078,1.043764,2.233968
1213,Spain,2021-24,22884.0,3096183.0,ES,670,32748,1.057689,2.927810
1214,Spain,2021-25,27991.0,3124174.0,ES,530,33278,1.065178,1.893466
1215,Spain,2021-26,73833.0,3198007.0,ES,321,33599,1.050623,0.434765
1216,Spain,2021-27,104649.0,3302656.0,ES,32,33631,1.018302,0.030578
1217,Spain,2021-28,190726.0,3493382.0,ES,0,33631,0.962706,0.000000

In [ ]:
#df.fillna(df.mean().astype(int))
#df.new_cases.mean().astype(int)