In [54]:
import pandas as pd
import numpy as np
import os
import sklearn

In [64]:
#assign always returns a copy of the data, leaving the original DataFrame untouched.
#df.columns = [x.lower() for x in df.columns]

In [65]:
df = pd.read_csv("COVID19WW.csv")

## Treat NAN values

In [66]:
df.isnull().sum()

country                         0
country_code                    0
year_week                       0
source                          0
new_cases                      23
number_sequenced                0
percent_cases_sequenced        23
valid_denominator               0
variant                         0
number_detections_variant       0
percent_variant              4602
dtype: int64

In [74]:
df

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,percent_variant
0,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.1.7,0,0.0
1,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.1.7+E484K,0,0.0
2,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.351,0,0.0
3,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.427/B.1.429,0,0.0
4,Austria,AT,2020-40,GISAID,5152.0,4,0.1,Yes,B.1.525,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
25708,Sweden,SE,2021-27,TESSy,1508.0,287,19.0,Yes,B.1.617,0,0.0
25709,Sweden,SE,2021-27,TESSy,1508.0,287,19.0,Yes,B.1.617.2,226,78.7
25710,Sweden,SE,2021-27,TESSy,1508.0,287,19.0,Yes,P.1,1,0.3
25711,Sweden,SE,2021-28,TESSy,1858.0,11,0.6,Yes,B.1.617,0,0.0
25712,Sweden,SE,2021-28,TESSy,1858.0,11,0.6,Yes,B.1.617.2,11,100.0

#### Fill the new cases and create new dataframe

In [67]:
#Here, we do not want to fill the NaN values from the 'new_cases' by 0 or mean of the whole column. The column contain
#the value of all countries and weeks. Instead i take the mean of the week before and after.
df_null = df[df['new_cases'].isna()]
df2 = pd.concat([df[['country','year_week','new_cases']].ffill(), df[['country','year_week','new_cases']].bfill()]).groupby(['country','year_week']).mean()
df2.reset_index(inplace = True)

## Additional stats

In [68]:
df2["newcases_sum"] = df2.groupby(['country'])['new_cases'].apply(lambda x: x.cumsum())

##### add the number of sequenced and percent cases sequenced
##### Now need to fill the NaN from both
##### For the number of sequenced, lets do it like the new cases to keep it somehow realistic
##### for the percent just compute it
##### Then compute the cumulative number sequenced and at the cumulative %

In [69]:
df2

      country year_week  new_cases  newcases_sum
0     Austria   2020-40     5152.0        5152.0
1     Austria   2020-41     7365.0       12517.0
2     Austria   2020-42     9574.0       22091.0
3     Austria   2020-43    16979.0       39070.0
4     Austria   2020-44    28574.0       67644.0
...       ...       ...        ...           ...
1255   Sweden   2021-24     2840.0      994875.0
1256   Sweden   2021-25     1980.0      996855.0
1257   Sweden   2021-26     1864.0      998719.0
1258   Sweden   2021-27     1508.0     1000227.0
1259   Sweden   2021-28     1858.0     1002085.0

[1260 rows x 4 columns]

In [75]:
#problem here; values from df all to NaN
df2 = pd.concat([df2,df[['number_sequenced','percent_cases_sequenced']]]).groupby(['country','year_week']).mean()

In [76]:
df2

                   new_cases  newcases_sum  number_sequenced  \
country year_week
Austria 2020-40       5152.0        5152.0               NaN
        2020-41       7365.0       12517.0               NaN
        2020-42       9574.0       22091.0               NaN
        2020-43      16979.0       39070.0               NaN
        2020-44      28574.0       67644.0               NaN
...                      ...           ...               ...
Sweden  2021-24       2840.0      994875.0               NaN
        2021-25       1980.0      996855.0               NaN
        2021-26       1864.0      998719.0               NaN
        2021-27       1508.0     1000227.0               NaN
        2021-28       1858.0     1002085.0               NaN

                   percent_cases_sequenced
country year_week
Austria 2020-40                        NaN
        2020-41                        NaN
        2020-42                        NaN
        2020-43                        NaN
        2020-44                        NaN
...                                    ...
Sweden  2021-24                        NaN
        2021-25                        NaN
        2021-26                        NaN
        2021-27                        NaN
        2021-28                        NaN

[1260 rows x 4 columns]

In [52]:
df2.percent_cases_sequenced.fillna(x)

       country year_week  new_cases  number_sequenced  percent_cases_sequenced
0      Austria   2020-40     5152.0               NaN                      NaN
1      Austria   2020-41     7365.0               NaN                      NaN
2      Austria   2020-42     9574.0               NaN                      NaN
3      Austria   2020-43    16979.0               NaN                      NaN
4      Austria   2020-44    28574.0               NaN                      NaN
...        ...       ...        ...               ...                      ...
25708      NaN       NaN        NaN             287.0                     19.0
25709      NaN       NaN        NaN             287.0                     19.0
25710      NaN       NaN        NaN             287.0                     19.0
25711      NaN       NaN        NaN              11.0                      0.6
25712      NaN       NaN        NaN              11.0                      0.6

[26973 rows x 5 columns]

In [73]:
pd.concat([df2[['country','year_week','new_cases','number_sequenced']].ffill(), df2[['country','year_week','new_cases','number_sequenced']].bfill()]).groupby(['country','year_week']).mean()

                   new_cases  number_sequenced
country year_week
Austria 2020-40       5152.0          4.000000
        2020-41       7365.0          4.000000
        2020-42       9574.0          4.000000
        2020-43      16979.0          4.000000
        2020-44      28574.0          4.000000
...                      ...               ...
Sweden  2021-24       2840.0          4.000000
        2021-25       1980.0          4.000000
        2021-26       1864.0          4.000000
        2021-27       1508.0          4.000000
        2021-28       1858.0        657.719491

[1260 rows x 2 columns]

In [76]:
df[(df["country"]=="Spain")]

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,percent_variant
23845,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.1.7,0,0.0
23846,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.1.7+E484K,0,0.0
23847,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.351,0,0.0
23848,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.427/B.1.429,0,0.0
23849,Spain,ES,2020-40,GISAID,65146.0,259,0.4,Yes,B.1.525,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
24787,Spain,ES,2021-27,TESSy,104649.0,73,0.1,Yes,UNK,3,4.1
24788,Spain,ES,2021-27,TESSy,104649.0,73,0.1,Yes,Other,15,20.5
24789,Spain,ES,2021-28,TESSy,190726.0,2,0.0,Yes,B.1.1.7,1,50.0
24790,Spain,ES,2021-28,TESSy,190726.0,2,0.0,Yes,B.1.617,0,0.0
24791,Spain,ES,2021-28,TESSy,190726.0,2,0.0,Yes,B.1.617.2,1,50.0

In [31]:
df2.loc[df2['country'] == "Sweden", 'new_cases'].sum()

1002085.0

In [ ]:
#df.fillna(df.mean().astype(int))
#df.new_cases.mean().astype(int)

## Add column with the sum of cases